# Optional secrets
ISSUE_NUMBER=
LINE_DEFAULT_REPLY_MESSAGE=

# Required secrets
GITHUB_OWNER=your-github-owner
GITHUB_REPO=your-github-repo
CLAW_SYS_GITHUB_TOKEN=your-github-token
LINE_BOT_ID=your-line-bot-id
LINE_CHANNEL_ID=your-line-channel-id
LINE_CHANNEL_SECRET=your-line-channel-secret
LINE_CHANNEL_ACCESS_TOKEN=your-line-channel-access-token
DEFAULT_UTC_OFFSET=+08:00
